In [1]:
import nltk
from nltk.tokenize import RegexpTokenizer
from nltk.corpus import stopwords
import pandas as pd
from nltk.stem.snowball import SnowballStemmer
import string
from string import digits
nltk.download('punkt')
nltk.download('stopwords')
import xgboost as xgb
import numpy as np
import sklearn as sk
from sklearn.decomposition import TruncatedSVD
from sklearn.feature_extraction.text import TfidfVectorizer, CountVectorizer
from sklearn import ensemble, metrics, model_selection, naive_bayes

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Radames\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Radames\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

c:\users\radames\appdata\local\programs\python\python36\lib\site-packages\sklearn\cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
df_train = pd.read_csv("../data/train.csv")
df_test = pd.read_csv("../data/test.csv")
# 3 столбца - id, text, author
df_train.head(n=3)

        id                                               text author
0  id26305  This process, however, afforded me no means of...    EAP
1  id17569  It never once occurred to me that the fumbling...    HPL
2  id11008  In his left hand was a gold snuff box, from wh...    EAP

In [3]:
remove_digits = str.maketrans('', '', digits)
def tokenize_stem(file_text):
    #firstly let's apply nltk tokenization
    file_text = file_text.translate(remove_digits)
    
    tokens = nltk.word_tokenize(file_text)

    #let's delete punctuation symbols
    tokens = [i for i in tokens if ( i not in string.punctuation )]

    #deleting stop_words
    stop_words = stopwords.words('english')
    tokens = [i for i in tokens if ( i not in stop_words )]

    #cleaning words
    stemmer = SnowballStemmer("english")
    
    tokens = [stemmer.stem(i) for i in tokens]

    return tokens

In [4]:
df_train['cleaned_text'] = df_train.text.apply(tokenize_stem)
df_train['cleaned_text_string'] = df_train.cleaned_text.apply(' '.join)
df_train.head(n=3)
eng_stopwords = set(stopwords.words("english"))

In [5]:
df_train['length']=df_train['cleaned_text_string'].apply(len)
df_train["num_words"] = df_train["text"].apply(lambda x: len(str(x).split()))
df_train["num_unique_words"] = df_train["text"].apply(lambda x: len(set(str(x).split())))
df_train["num_punctuations"] =df_train['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]))
df_train["num_words_upper"] = df_train["text"].apply(lambda x: len([w for w in str(x).split() if w.isupper()]))
df_train["num_words_title"] = df_train["text"].apply(lambda x: len([w for w in str(x).split() if w.istitle()]))
df_train["mean_word_len"] = df_train["text"].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
df_train["num_stopwords"] = df_train["text"].apply(lambda x: len([w for w in str(x).lower().split() if w in eng_stopwords]))
df_train.head(n=3)

,id,text,author,cleaned_text,cleaned_text_string,length,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords
0,id26305,"This process, however, afforded me no means of...",EAP,"[this, process, howev, afford, mean, ascertain...",this process howev afford mean ascertain dimen...,145,41,35,7,2,3,4.658537,19
1,id17569,It never once occurred to me that the fumbling...,HPL,"[it, never, occur, fumbl, might, mere, mistak]",it never occur fumbl might mere mistak,38,14,14,1,0,1,4.142857,8
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,"[in, left, hand, gold, snuff, box, caper, hill...",in left hand gold snuff box caper hill cut man...,116,36,32,5,0,1,4.583333,16

In [6]:
df_hpl=df_train[df_train['author']=='HPL']
df_hpl.describe()

,length,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords
count,5635.000000,5635.000000,5635.000000,5635.000000,5635.000000,5635.000000,5635.000000,5635.000000
mean,93.395386,27.799645,24.437977,3.206921,0.500266,2.334694,4.625193,12.940728
std,51.075096,14.123252,11.053739,2.108637,0.852313,2.041579,0.554917,6.855502
min,7.000000,4.000000,3.000000,1.000000,0.000000,0.000000,2.222222,0.000000
25%,58.000000,18.000000,17.000000,2.000000,0.000000,1.000000,4.258065,8.000000
50%,85.000000,26.000000,23.000000,3.000000,0.000000,2.000000,4.600000,12.000000
75%,118.000000,35.000000,30.000000,4.000000,1.000000,3.000000,4.961538,16.500000
max,561.000000,147.000000,102.000000,28.000000,10.000000,39.000000,7.833333,62.000000

In [7]:
df_eap=df_train[df_train['author']=='EAP']
df_eap.describe()

,length,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords
count,7900.000000,7900.000000,7900.000000,7900.000000,7900.000000,7900.000000,7900.000000,7900.000000
mean,81.543165,25.442405,21.894937,4.096329,0.553291,2.102405,4.644952,12.617722
std,60.100183,18.567706,13.727397,3.573788,0.892966,2.052241,0.631340,9.540922
min,5.000000,2.000000,2.000000,1.000000,0.000000,0.000000,2.000000,0.000000
25%,40.000000,12.000000,12.000000,2.000000,0.000000,1.000000,4.250000,6.000000
50%,66.000000,21.000000,19.000000,3.000000,0.000000,1.000000,4.600000,10.000000
75%,106.000000,33.000000,29.000000,5.000000,1.000000,2.000000,5.000000,17.000000
max,925.000000,267.000000,155.000000,71.000000,15.000000,43.000000,11.000000,135.000000

In [8]:
df_mws=df_train[df_train['author']=='MWS']
df_mws.describe()

,length,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords
count,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000,6044.000000
mean,86.124586,27.417273,23.544672,3.833719,0.751489,2.124255,4.598182,13.742224
std,71.976281,23.134440,14.925835,2.840625,1.203636,1.759572,0.561558,12.080172
min,4.000000,2.000000,2.000000,1.000000,0.000000,0.000000,2.666667,0.000000
25%,48.000000,15.000000,14.000000,2.000000,0.000000,1.000000,4.250000,7.000000
50%,74.000000,23.000000,21.000000,3.000000,0.000000,2.000000,4.560791,12.000000
75%,108.000000,34.000000,30.000000,5.000000,1.000000,3.000000,4.907156,17.000000
max,2715.000000,861.000000,429.000000,59.000000,27.000000,46.000000,10.500000,435.000000

In [9]:
wordset=set()

In [10]:
#делаю сет со всеми словами
for i in df_train.index:
    wordset |= set(df_train['cleaned_text'][i])
wordlist=list(wordset)

In [11]:
#делаю фрейм со словами
df_word=pd.DataFrame(columns=["word", "mws", "eap", "hpl", "all"])
df_word["word"]=wordlist
df_word["mws"]=0
df_word["eap"]=0
df_word["hpl"]=0
df_word["all"]=0
df_word.head()

        word  mws  eap  hpl  all
0       tame    0    0    0    0
1     bereav    0    0    0    0
2      unlaw    0    0    0    0
3       hose    0    0    0    0
4  baudelair    0    0    0    0

In [12]:
# как мы будем эту штуку правильнее делать (возможно это жуткий костыль), я хз
# сначала создаем словарь где ключ - уникальное слово, а значение - его порядковый номер
# затем создаем разреженную матрицу, которую заполняем в зависимости от порядковых номеров 
word_dict = {}

In [13]:
#делаю сет со всеми словами
# и сразу заготовку под шапку(потом увидишь зачем)
counter = 0
head = []

for wordlist in df_train['cleaned_text']:
    for word in wordlist:
        if word not in word_dict:
            head.append(word)
            word_dict[word] = counter
            counter += 1

In [14]:
# видоизменять колонки в pandas руками по одному значению в строке или столбце - очень плохая идея
# колонка это numpy.ndarray, а значит при каждой итерации она будет пересоздаваться
# что угробит производительность
# делаем значит так. считаем где сколько и где встречались отдельные слова, затем создаем строку за строкой для 
# каждого предложения

list_of_lists = []

for wordlist in df_train['cleaned_text']:
    row = [0 for i in range(len(word_dict))]
    for word in wordlist:
        row[word_dict[word]] += 1
    list_of_lists.append(row)

In [15]:
print(len(list_of_lists))

19579

In [16]:
# ... и для того чтобы посмотреть встречаемость того или иного слова по авторам добавим такую колонку

count_frame = pd.DataFrame(list_of_lists)
count_frame['author'] = df_train['author']

In [17]:
# ... и теперь нормальную шапку делаем

count_frame.columns = head + ['author']

In [18]:
print(count_frame.head())

   this  process  howev  afford  mean  ascertain  dimens  dungeon  i  might  \
0     1        1      1       1     1          1       1        1  2      1
1     0        0      0       0     0          0       0        0  0      1
2     0        0      0       0     0          0       0        0  0      0
3     0        0      0       0     0          0       0        0  0      0
4     0        0      0       0     0          0       0        0  0      0

    ...    aegidus  burr  bentley  waltzer  binder  brusqueri  adriat  ancona  \
0   ...          0     0        0        0       0          0       0       0
1   ...          0     0        0        0       0          0       0       0
2   ...          0     0        0        0       0          0       0       0
3   ...          0     0        0        0       0          0       0       0
4   ...          0     0        0        0       0          0       0       0

   agir  author
0     0     EAP
1     0     HPL
2     0     EAP
3     0     MWS
4     0     HPL

[5 rows x 15231 columns]

In [19]:
# Пока объединим все, потом может быть будем использовать
col=list(count_frame.columns)
col[-1]='author_name'
count_frame.columns=col
pivot_col=pd.pivot_table(count_frame, aggfunc=np.sum, values=col, index=['author_name'])

In [20]:
#Убираем лишние слова, которые не учли раньше
col=list(pivot_col.columns)
col2=[string for string in col if (string[0]!='"' and string[0]!="'"
                                  and string[0]!='.' and string[0]!='`'
                                   and len(string)>3 and '.' not in string)]
col=[]
pivot_col=pivot_col[col2]
pivot_col.head()

,aaem,aback,abaft,abandon,abaout,abas,abash,abat,abbey,abbrevi,...,æmilianus,æneid,ærial,æronaut,ærostat,æschylus,élite,émeut,οἶδα,υπνος
author_name,,,,,,,,,,,,,,,,,,,,,
EAP,1,2,0,22,0,2,1,2,3,2,...,0,0,1,3,1,1,1,1,0,0
HPL,0,0,0,17,24,0,1,3,0,0,...,2,1,0,0,0,0,0,0,2,1
MWS,0,0,1,9,0,0,0,1,2,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
#Create pivot
pivot_col=pivot_col.append(pivot_col.sum(), ignore_index=True)
pivot_col.index=['EAP', 'HPL', 'MWS', 'SUMA']
pivot_col.head()

,aaem,aback,abaft,abandon,abaout,abas,abash,abat,abbey,abbrevi,...,æmilianus,æneid,ærial,æronaut,ærostat,æschylus,élite,émeut,οἶδα,υπνος
EAP,1,2,0,22,0,2,1,2,3,2,...,0,0,1,3,1,1,1,1,0,0
HPL,0,0,0,17,24,0,1,3,0,0,...,2,1,0,0,0,0,0,0,2,1
MWS,0,0,1,9,0,0,0,1,2,0,...,0,0,0,0,0,0,0,0,0,0
SUMA,1,2,1,48,24,2,2,6,5,2,...,2,1,1,3,1,1,1,1,2,1

In [22]:
summa=[pivot_col.loc['EAP'].sum(), pivot_col.loc['HPL'].sum(), 
       pivot_col.loc['MWS'].sum(), pivot_col.loc['SUMA'].sum()]
pivot_col['summa']=summa
pivot_col.head()

,aaem,aback,abaft,abandon,abaout,abas,abash,abat,abbey,abbrevi,...,æneid,ærial,æronaut,ærostat,æschylus,élite,émeut,οἶδα,υπνος,summa
EAP,1,2,0,22,0,2,1,2,3,2,...,0,1,3,1,1,1,1,0,0,87765
HPL,0,0,0,17,24,0,1,3,0,0,...,1,0,0,0,0,0,0,2,1,74269
MWS,0,0,1,9,0,0,0,1,2,0,...,0,0,0,0,0,0,0,0,0,73160
SUMA,1,2,1,48,24,2,2,6,5,2,...,1,1,3,1,1,1,1,2,1,235194

In [23]:
# Create probability of author text knowing that a word was used
pivot_part=pivot_col
pivot_part.loc['EAP']=pivot_col.loc['EAP']/pivot_col.loc['SUMA']
pivot_part.loc['HPL']=pivot_col.loc['HPL']/pivot_col.loc['SUMA']
pivot_part.loc['MWS']=pivot_col.loc['MWS']/pivot_col.loc['SUMA']
pivot_part=pivot_part.loc[['EAP', 'HPL', 'MWS']]
# Delete unique words
pivot_part=pivot_part.loc[:, (pivot_part!=1).all(axis=0)]
pivot_part.head()

,abandon,abash,abat,abbey,abdic,aberr,abhor,abhorr,abil,abject,...,younger,youngest,your,youth,zeal,zenith,zest,zigzag,zone,summa
EAP,0.458333,0.5,0.333333,0.6,0.142857,0.166667,0.058824,0.111111,0.789474,0.333333,...,0.272727,0.2,0.534884,0.101562,0.117647,0.4,0.2,0.4,0.666667,0.373160
HPL,0.354167,0.5,0.500000,0.0,0.000000,0.666667,0.235294,0.555556,0.052632,0.000000,...,0.000000,0.4,0.069767,0.429688,0.470588,0.6,0.2,0.6,0.333333,0.315778
MWS,0.187500,0.0,0.166667,0.4,0.857143,0.166667,0.705882,0.333333,0.157895,0.666667,...,0.727273,0.4,0.395349,0.468750,0.411765,0.0,0.6,0.0,0.000000,0.311062

In [24]:
# It will be easier to work this way
eap_dict=pivot_part.loc['EAP'].to_dict()
hpl_dict=pivot_part.loc['HPL'].to_dict()
mws_dict=pivot_part.loc['MWS'].to_dict()
eap_dict['word']

0.44859813084112149

In [25]:
# Create author score 
def ind_val_eap(listn):
    quant=0
    for word in listn:
        try:
            quant+=eap_dict[word]
        except KeyError:
            quant+=0
    return quant

def ind_val_hpl(listn):
    quant=0
    for word in listn:
        try:
            quant+=hpl_dict[word]
        except KeyError:
            quant+=0
    return quant

def ind_val_mws(listn):
    quant=0
    for word in listn:
        try:
            quant+=mws_dict[word]
        except KeyError:
            quant+=0
    return quant

In [26]:
# Add index of author
df_train['mws_index']=df_train['cleaned_text'].apply(ind_val_mws)/df_train['length']
df_train['eap_index']=df_train['cleaned_text'].apply(ind_val_eap)/df_train['length']
df_train['hpl_index']=df_train['cleaned_text'].apply(ind_val_hpl)/df_train['length']
df_train.head(n=3)

,id,text,author,cleaned_text,cleaned_text_string,length,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords,mws_index,eap_index,hpl_index
0,id26305,"This process, however, afforded me no means of...",EAP,"[this, process, howev, afford, mean, ascertain...",this process howev afford mean ascertain dimen...,145,41,35,7,2,3,4.658537,19,0.035935,0.074388,0.034504
1,id17569,It never once occurred to me that the fumbling...,HPL,"[it, never, occur, fumbl, might, mere, mistak]",it never occur fumbl might mere mistak,38,14,14,1,0,1,4.142857,8,0.035860,0.060980,0.034739
2,id11008,"In his left hand was a gold snuff box, from wh...",EAP,"[in, left, hand, gold, snuff, box, caper, hill...",in left hand gold snuff box caper hill cut man...,116,36,32,5,0,1,4.583333,16,0.026900,0.047832,0.037337

In [27]:
#Transform authors' names to numeric
df_train['author']=df_train['author'].astype('category')
df_train['author2']=df_train['author'].cat.codes
# Create different features 
df_train.head(n=3)
mid = df_train['author2']
df_train.drop(labels=['author2'], axis=1,inplace = True)
df_train.insert(0, 'author2', mid)
df_train.head()

,author2,id,text,author,cleaned_text,cleaned_text_string,length,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords,mws_index,eap_index,hpl_index
0,0,id26305,"This process, however, afforded me no means of...",EAP,"[this, process, howev, afford, mean, ascertain...",this process howev afford mean ascertain dimen...,145,41,35,7,2,3,4.658537,19,0.035935,0.074388,0.034504
1,1,id17569,It never once occurred to me that the fumbling...,HPL,"[it, never, occur, fumbl, might, mere, mistak]",it never occur fumbl might mere mistak,38,14,14,1,0,1,4.142857,8,0.035860,0.060980,0.034739
2,0,id11008,"In his left hand was a gold snuff box, from wh...",EAP,"[in, left, hand, gold, snuff, box, caper, hill...",in left hand gold snuff box caper hill cut man...,116,36,32,5,0,1,4.583333,16,0.026900,0.047832,0.037337
3,2,id27763,How lovely is spring As we looked from Windsor...,MWS,"[how, love, spring, as, look, windsor, terrac,...",how love spring as look windsor terrac sixteen...,144,34,32,4,0,4,5.088235,13,0.071850,0.033438,0.033601
4,1,id12958,"Finding nothing else, not even gold, the Super...",HPL,"[find, noth, els, even, gold, superintend, aba...",find noth els even gold superintend abandon at...,102,27,25,4,0,2,5.481481,11,0.036859,0.056661,0.043735

In [28]:
author_mapping_dict = {'EAP':0, 'HPL':1, 'MWS':2}
train_y = df_train['author'].map(author_mapping_dict)
train_id = df_train['id'].values
test_id = df_test['id'].values
cols_to_drop = ['id', 'text']
train_X = df_train.drop(cols_to_drop+['author'], axis=1)
test_X = df_test.drop(cols_to_drop, axis=1)
tfidf_vec = TfidfVectorizer(stop_words='english', ngram_range=(1,3))
full_tfidf = tfidf_vec.fit_transform(df_train['text'].values.tolist() + df_test['text'].values.tolist())
train_tfidf = tfidf_vec.transform(df_train['text'].values.tolist())
test_tfidf = tfidf_vec.transform(df_test['text'].values.tolist())

In [29]:
def runMNB(train_X, train_y, test_X, test_y, test_X2):
    model = naive_bayes.MultinomialNB()
    model.fit(train_X, train_y)
    pred_test_y = model.predict_proba(test_X)
    pred_test_y2 = model.predict_proba(test_X2)
    return pred_test_y, pred_test_y2, model

In [30]:
cv_scores = []
pred_full_test = 0
pred_train = np.zeros([df_train.shape[0], 3])
kf = model_selection.KFold(n_splits=5, shuffle=True, random_state=2017)
for dev_index, val_index in kf.split(train_X):
    dev_X, val_X = train_tfidf[dev_index], train_tfidf[val_index]
    dev_y, val_y = train_y[dev_index], train_y[val_index]
    pred_val_y, pred_test_y, model = runMNB(dev_X, dev_y, val_X, val_y, test_tfidf)
    pred_full_test = pred_full_test + pred_test_y
    pred_train[val_index,:] = pred_val_y
    cv_scores.append(metrics.log_loss(val_y, pred_val_y))
print("Mean cv score : ", np.mean(cv_scores))
pred_full_test = pred_full_test / 5.

Mean cv score :  0.842216198361

In [31]:
n_comp = 20
svd_obj = TruncatedSVD(n_components=n_comp, algorithm='arpack')
svd_obj.fit(full_tfidf)
train_svd = pd.DataFrame(svd_obj.transform(train_tfidf))
test_svd = pd.DataFrame(svd_obj.transform(test_tfidf))
    
train_svd.columns = ['svd_word_'+str(i) for i in range(n_comp)]
test_svd.columns = ['svd_word_'+str(i) for i in range(n_comp)]
df_train = pd.concat([df_train, train_svd], axis=1)
df_test = pd.concat([df_test, test_svd], axis=1)
del full_tfidf, train_tfidf, test_tfidf, train_svd, test_svd

In [32]:
### Fit transform the count vectorizer ###
tfidf_vec = CountVectorizer(stop_words='english', ngram_range=(1,3))
tfidf_vec.fit(df_train['text'].values.tolist() + df_test['text'].values.tolist())
train_tfidf = tfidf_vec.transform(df_train['text'].values.tolist())
test_tfidf = tfidf_vec.transform(df_test['text'].values.tolist())

In [33]:
cv_scores = []
pred_full_test = 0
pred_train = np.zeros([df_train.shape[0], 3])
kf = model_selection.KFold(n_splits=5, shuffle=True, random_state=2017)
for dev_index, val_index in kf.split(train_X):
    dev_X, val_X = train_tfidf[dev_index], train_tfidf[val_index]
    dev_y, val_y = train_y[dev_index], train_y[val_index]
    pred_val_y, pred_test_y, model = runMNB(dev_X, dev_y, val_X, val_y, test_tfidf)
    pred_full_test = pred_full_test + pred_test_y
    pred_train[val_index,:] = pred_val_y
    cv_scores.append(metrics.log_loss(val_y, pred_val_y))
print("Mean cv score : ", np.mean(cv_scores))
pred_full_test = pred_full_test / 5.

# add the predictions as new features #
df_train["nb_cvec_eap"] = pred_train[:,0]
df_train["nb_cvec_hpl"] = pred_train[:,1]
df_train["nb_cvec_mws"] = pred_train[:,2]
df_test["nb_cvec_eap"] = pred_full_test[:,0]
df_test["nb_cvec_hpl"] = pred_full_test[:,1]
df_test["nb_cvec_mws"] = pred_full_test[:,2]

Mean cv score :  0.450918416166

In [34]:
# Create data set
ds_train=df_train.values
X=ds_train[:, 6:]
Y=ds_train[:, 0]
seed=7
test_size=0.3
X_train, X_test, y_train, y_test = sk.model_selection.train_test_split(X,Y, test_size=test_size, random_state=seed)

In [35]:
# fit model
xg_train=xgb.DMatrix(X_train, label=y_train)
xg_test=xgb.DMatrix(X_test, label=y_test)
xg_t=xgb.DMatrix(X, label=Y)
param={}
param['objective'] = 'multi:softmax'
param['eta'] = 0.3
param['max_depth'] = 3
param['silent'] = 1
param['num_class'] = 3
param['eval_metric']= "mlogloss"
watchlist = [(xg_train, 'train'), (xg_test, 'test')]
num_round = 70
bst = xgb.train(param, xg_train, num_round, watchlist)
# get prediction
pred = bst.predict(xg_test)
error_rate = np.sum(pred != y_test) / y_test.shape[0]
print('Test error using softmax = {}'.format(error_rate))

[0]	train-mlogloss:0.835526	test-mlogloss:0.83777
[1]	train-mlogloss:0.684008	test-mlogloss:0.687812
[2]	train-mlogloss:0.586673	test-mlogloss:0.591944
[3]	train-mlogloss:0.521145	test-mlogloss:0.527776
[4]	train-mlogloss:0.475735	test-mlogloss:0.483269
[5]	train-mlogloss:0.442544	test-mlogloss:0.451403
[6]	train-mlogloss:0.419062	test-mlogloss:0.4292
[7]	train-mlogloss:0.401388	test-mlogloss:0.412859
[8]	train-mlogloss:0.386982	test-mlogloss:0.400323
[9]	train-mlogloss:0.376089	test-mlogloss:0.390533
[10]	train-mlogloss:0.366897	test-mlogloss:0.38265
[11]	train-mlogloss:0.359258	test-mlogloss:0.376604
[12]	train-mlogloss:0.353014	test-mlogloss:0.37199
[13]	train-mlogloss:0.34766	test-mlogloss:0.368182
[14]	train-mlogloss:0.342403	test-mlogloss:0.36475
[15]	train-mlogloss:0.338286	test-mlogloss:0.361916
[16]	train-mlogloss:0.335046	test-mlogloss:0.360015
[17]	train-mlogloss:0.331689	test-mlogloss:0.357469
[18]	train-mlogloss:0.327961	test-mlogloss:0.355265
[19]	train-mlogloss:0.324831	test-mlogloss:0.353893
[20]	train-mlogloss:0.322001	test-mlogloss:0.351825
[21]	train-mlogloss:0.319003	test-mlogloss:0.349867
[22]	train-mlogloss:0.316193	test-mlogloss:0.348981
[23]	train-mlogloss:0.314098	test-mlogloss:0.347635
[24]	train-mlogloss:0.311615	test-mlogloss:0.346863
[25]	train-mlogloss:0.30933	test-mlogloss:0.345912
[26]	train-mlogloss:0.307286	test-mlogloss:0.345079
[27]	train-mlogloss:0.305218	test-mlogloss:0.344413
[28]	train-mlogloss:0.303458	test-mlogloss:0.343115
[29]	train-mlogloss:0.301239	test-mlogloss:0.34278
[30]	train-mlogloss:0.299597	test-mlogloss:0.341723
[31]	train-mlogloss:0.297854	test-mlogloss:0.34167
[32]	train-mlogloss:0.295746	test-mlogloss:0.340924
[33]	train-mlogloss:0.294412	test-mlogloss:0.34008
[34]	train-mlogloss:0.293017	test-mlogloss:0.339509
[35]	train-mlogloss:0.291439	test-mlogloss:0.339156
[36]	train-mlogloss:0.289567	test-mlogloss:0.338375
[37]	train-mlogloss:0.288037	test-mlogloss:0.338086
[38]	train-mlogloss:0.286751	test-mlogloss:0.337839
[39]	train-mlogloss:0.285501	test-mlogloss:0.337449
[40]	train-mlogloss:0.284109	test-mlogloss:0.337107
[41]	train-mlogloss:0.282829	test-mlogloss:0.336929
[42]	train-mlogloss:0.281858	test-mlogloss:0.336445
[43]	train-mlogloss:0.280646	test-mlogloss:0.336405
[44]	train-mlogloss:0.279211	test-mlogloss:0.336288
[45]	train-mlogloss:0.278342	test-mlogloss:0.336205
[46]	train-mlogloss:0.276909	test-mlogloss:0.336379
[47]	train-mlogloss:0.275878	test-mlogloss:0.336612
[48]	train-mlogloss:0.274918	test-mlogloss:0.336394
[49]	train-mlogloss:0.273848	test-mlogloss:0.336213
[50]	train-mlogloss:0.272439	test-mlogloss:0.336287
[51]	train-mlogloss:0.271047	test-mlogloss:0.336156
[52]	train-mlogloss:0.270241	test-mlogloss:0.336344
[53]	train-mlogloss:0.269215	test-mlogloss:0.336229
[54]	train-mlogloss:0.26789	test-mlogloss:0.336266
[55]	train-mlogloss:0.266827	test-mlogloss:0.336181
[56]	train-mlogloss:0.265908	test-mlogloss:0.336282
[57]	train-mlogloss:0.265053	test-mlogloss:0.336208
[58]	train-mlogloss:0.263986	test-mlogloss:0.335909
[59]	train-mlogloss:0.263102	test-mlogloss:0.335731
[60]	train-mlogloss:0.262351	test-mlogloss:0.335869
[61]	train-mlogloss:0.261321	test-mlogloss:0.335749
[62]	train-mlogloss:0.260333	test-mlogloss:0.3356
[63]	train-mlogloss:0.259219	test-mlogloss:0.335139
[64]	train-mlogloss:0.258656	test-mlogloss:0.335007
[65]	train-mlogloss:0.25746	test-mlogloss:0.335159
[66]	train-mlogloss:0.256267	test-mlogloss:0.335334
[67]	train-mlogloss:0.255406	test-mlogloss:0.335295
[68]	train-mlogloss:0.254691	test-mlogloss:0.335469
[69]	train-mlogloss:0.253592	test-mlogloss:0.335522
Test error using softmax = 0.13040517534899557

In [36]:
# do the same thing again, but output probabilities
param['objective'] = 'multi:softprob'
bstp = xgb.train(param, xg_train, num_round, watchlist)
# Note: this convention has been changed since xgboost-unity
# get prediction, this is in 1D array, need reshape to (ndata, nclass)
pred_prob = bstp.predict(xg_test).reshape(y_test.shape[0], 3)
pred_label = np.argmax(pred_prob, axis=1)
error_rate = np.sum(pred_label != y_test) / y_test.shape[0]
print('Test error using softprob = {}'.format(error_rate))

[0]	train-mlogloss:0.835526	test-mlogloss:0.83777
[1]	train-mlogloss:0.684008	test-mlogloss:0.687812
[2]	train-mlogloss:0.586673	test-mlogloss:0.591944
[3]	train-mlogloss:0.521145	test-mlogloss:0.527776
[4]	train-mlogloss:0.475735	test-mlogloss:0.483269
[5]	train-mlogloss:0.442544	test-mlogloss:0.451403
[6]	train-mlogloss:0.419062	test-mlogloss:0.4292
[7]	train-mlogloss:0.401388	test-mlogloss:0.412859
[8]	train-mlogloss:0.386982	test-mlogloss:0.400323
[9]	train-mlogloss:0.376089	test-mlogloss:0.390533
[10]	train-mlogloss:0.366897	test-mlogloss:0.38265
[11]	train-mlogloss:0.359258	test-mlogloss:0.376604
[12]	train-mlogloss:0.353014	test-mlogloss:0.37199
[13]	train-mlogloss:0.34766	test-mlogloss:0.368182
[14]	train-mlogloss:0.342403	test-mlogloss:0.36475
[15]	train-mlogloss:0.338286	test-mlogloss:0.361916
[16]	train-mlogloss:0.335046	test-mlogloss:0.360015
[17]	train-mlogloss:0.331689	test-mlogloss:0.357469
[18]	train-mlogloss:0.327961	test-mlogloss:0.355265
[19]	train-mlogloss:0.324831	test-mlogloss:0.353893
[20]	train-mlogloss:0.322001	test-mlogloss:0.351825
[21]	train-mlogloss:0.319003	test-mlogloss:0.349867
[22]	train-mlogloss:0.316193	test-mlogloss:0.348981
[23]	train-mlogloss:0.314098	test-mlogloss:0.347635
[24]	train-mlogloss:0.311615	test-mlogloss:0.346863
[25]	train-mlogloss:0.30933	test-mlogloss:0.345912
[26]	train-mlogloss:0.307286	test-mlogloss:0.345079
[27]	train-mlogloss:0.305218	test-mlogloss:0.344413
[28]	train-mlogloss:0.303458	test-mlogloss:0.343115
[29]	train-mlogloss:0.301239	test-mlogloss:0.34278
[30]	train-mlogloss:0.299597	test-mlogloss:0.341723
[31]	train-mlogloss:0.297854	test-mlogloss:0.34167
[32]	train-mlogloss:0.295746	test-mlogloss:0.340924
[33]	train-mlogloss:0.294412	test-mlogloss:0.34008
[34]	train-mlogloss:0.293017	test-mlogloss:0.339509
[35]	train-mlogloss:0.291439	test-mlogloss:0.339156
[36]	train-mlogloss:0.289567	test-mlogloss:0.338375
[37]	train-mlogloss:0.288037	test-mlogloss:0.338086
[38]	train-mlogloss:0.286751	test-mlogloss:0.337839
[39]	train-mlogloss:0.285501	test-mlogloss:0.337449
[40]	train-mlogloss:0.284109	test-mlogloss:0.337107
[41]	train-mlogloss:0.282829	test-mlogloss:0.336929
[42]	train-mlogloss:0.281858	test-mlogloss:0.336445
[43]	train-mlogloss:0.280646	test-mlogloss:0.336405
[44]	train-mlogloss:0.279211	test-mlogloss:0.336288
[45]	train-mlogloss:0.278342	test-mlogloss:0.336205
[46]	train-mlogloss:0.276909	test-mlogloss:0.336379
[47]	train-mlogloss:0.275878	test-mlogloss:0.336612
[48]	train-mlogloss:0.274918	test-mlogloss:0.336394
[49]	train-mlogloss:0.273848	test-mlogloss:0.336213
[50]	train-mlogloss:0.272439	test-mlogloss:0.336287
[51]	train-mlogloss:0.271047	test-mlogloss:0.336156
[52]	train-mlogloss:0.270241	test-mlogloss:0.336344
[53]	train-mlogloss:0.269215	test-mlogloss:0.336229
[54]	train-mlogloss:0.26789	test-mlogloss:0.336266
[55]	train-mlogloss:0.266827	test-mlogloss:0.336181
[56]	train-mlogloss:0.265908	test-mlogloss:0.336282
[57]	train-mlogloss:0.265053	test-mlogloss:0.336208
[58]	train-mlogloss:0.263986	test-mlogloss:0.335909
[59]	train-mlogloss:0.263102	test-mlogloss:0.335731
[60]	train-mlogloss:0.262351	test-mlogloss:0.335869
[61]	train-mlogloss:0.261321	test-mlogloss:0.335749
[62]	train-mlogloss:0.260333	test-mlogloss:0.3356
[63]	train-mlogloss:0.259219	test-mlogloss:0.335139
[64]	train-mlogloss:0.258656	test-mlogloss:0.335007
[65]	train-mlogloss:0.25746	test-mlogloss:0.335159
[66]	train-mlogloss:0.256267	test-mlogloss:0.335334
[67]	train-mlogloss:0.255406	test-mlogloss:0.335295
[68]	train-mlogloss:0.254691	test-mlogloss:0.335469
[69]	train-mlogloss:0.253592	test-mlogloss:0.335522
Test error using softprob = 0.13040517534899557

In [37]:
# do the same thing again, but output probabilities
param['objective'] = 'multi:softprob'
bstp = xgb.train(param, xg_t, num_round, watchlist)
# Note: this convention has been changed since xgboost-unity
# get prediction, this is in 1D array, need reshape to (ndata, nclass)
pred_prob = bstp.predict(xg_t).reshape(Y.shape[0], 3)
pred_label = np.argmax(pred_prob, axis=1)
error_rate = np.sum(pred_label != Y) / Y.shape[0]
print('Test error using softprob = {}'.format(error_rate))

[0]	train-mlogloss:0.83624	test-mlogloss:0.835877
[1]	train-mlogloss:0.685467	test-mlogloss:0.684348
[2]	train-mlogloss:0.588694	test-mlogloss:0.587736
[3]	train-mlogloss:0.523663	test-mlogloss:0.522296
[4]	train-mlogloss:0.478455	test-mlogloss:0.476666
[5]	train-mlogloss:0.446339	test-mlogloss:0.444137
[6]	train-mlogloss:0.423001	test-mlogloss:0.420648
[7]	train-mlogloss:0.404639	test-mlogloss:0.402578
[8]	train-mlogloss:0.391304	test-mlogloss:0.389033
[9]	train-mlogloss:0.380503	test-mlogloss:0.378182
[10]	train-mlogloss:0.371494	test-mlogloss:0.369497
[11]	train-mlogloss:0.36346	test-mlogloss:0.362008
[12]	train-mlogloss:0.358119	test-mlogloss:0.356453
[13]	train-mlogloss:0.352523	test-mlogloss:0.35156
[14]	train-mlogloss:0.348598	test-mlogloss:0.347614
[15]	train-mlogloss:0.343744	test-mlogloss:0.343318
[16]	train-mlogloss:0.340244	test-mlogloss:0.34006
[17]	train-mlogloss:0.337073	test-mlogloss:0.336992
[18]	train-mlogloss:0.334195	test-mlogloss:0.334553
[19]	train-mlogloss:0.33187	test-mlogloss:0.332448
[20]	train-mlogloss:0.329012	test-mlogloss:0.329953
[21]	train-mlogloss:0.326346	test-mlogloss:0.327498
[22]	train-mlogloss:0.32436	test-mlogloss:0.325195
[23]	train-mlogloss:0.322067	test-mlogloss:0.323383
[24]	train-mlogloss:0.319954	test-mlogloss:0.320974
[25]	train-mlogloss:0.317897	test-mlogloss:0.319165
[26]	train-mlogloss:0.316144	test-mlogloss:0.317168
[27]	train-mlogloss:0.314267	test-mlogloss:0.315456
[28]	train-mlogloss:0.312869	test-mlogloss:0.314081
[29]	train-mlogloss:0.311	test-mlogloss:0.312457
[30]	train-mlogloss:0.309509	test-mlogloss:0.310677
[31]	train-mlogloss:0.308062	test-mlogloss:0.309423
[32]	train-mlogloss:0.306748	test-mlogloss:0.308075
[33]	train-mlogloss:0.305257	test-mlogloss:0.306611
[34]	train-mlogloss:0.303977	test-mlogloss:0.305608
[35]	train-mlogloss:0.302594	test-mlogloss:0.304417
[36]	train-mlogloss:0.30152	test-mlogloss:0.303219
[37]	train-mlogloss:0.300421	test-mlogloss:0.301871
[38]	train-mlogloss:0.299171	test-mlogloss:0.300525
[39]	train-mlogloss:0.297906	test-mlogloss:0.299401
[40]	train-mlogloss:0.296717	test-mlogloss:0.298333
[41]	train-mlogloss:0.295632	test-mlogloss:0.297253
[42]	train-mlogloss:0.294461	test-mlogloss:0.296483
[43]	train-mlogloss:0.293508	test-mlogloss:0.295039
[44]	train-mlogloss:0.2922	test-mlogloss:0.294063
[45]	train-mlogloss:0.291616	test-mlogloss:0.293353
[46]	train-mlogloss:0.290598	test-mlogloss:0.292146
[47]	train-mlogloss:0.289428	test-mlogloss:0.291009
[48]	train-mlogloss:0.288307	test-mlogloss:0.289948
[49]	train-mlogloss:0.287441	test-mlogloss:0.289331
[50]	train-mlogloss:0.286586	test-mlogloss:0.288541
[51]	train-mlogloss:0.285577	test-mlogloss:0.287646
[52]	train-mlogloss:0.284696	test-mlogloss:0.286944
[53]	train-mlogloss:0.284146	test-mlogloss:0.286234
[54]	train-mlogloss:0.283362	test-mlogloss:0.285526
[55]	train-mlogloss:0.282302	test-mlogloss:0.284289
[56]	train-mlogloss:0.281385	test-mlogloss:0.283379
[57]	train-mlogloss:0.280404	test-mlogloss:0.282508
[58]	train-mlogloss:0.279577	test-mlogloss:0.281765
[59]	train-mlogloss:0.278867	test-mlogloss:0.281078
[60]	train-mlogloss:0.278105	test-mlogloss:0.280098
[61]	train-mlogloss:0.276879	test-mlogloss:0.279228
[62]	train-mlogloss:0.27609	test-mlogloss:0.278643
[63]	train-mlogloss:0.27564	test-mlogloss:0.277942
[64]	train-mlogloss:0.274743	test-mlogloss:0.277222
[65]	train-mlogloss:0.273707	test-mlogloss:0.276396
[66]	train-mlogloss:0.272859	test-mlogloss:0.275679
[67]	train-mlogloss:0.272184	test-mlogloss:0.274905
[68]	train-mlogloss:0.271565	test-mlogloss:0.274184
[69]	train-mlogloss:0.270522	test-mlogloss:0.273396
Test error using softprob = 0.1058276725062567

In [38]:
df_test.head(n=3)

,id,text,svd_word_0,svd_word_1,svd_word_2,svd_word_3,svd_word_4,svd_word_5,svd_word_6,svd_word_7,...,svd_word_13,svd_word_14,svd_word_15,svd_word_16,svd_word_17,svd_word_18,svd_word_19,nb_cvec_eap,nb_cvec_hpl,nb_cvec_mws
0,id02310,"Still, as I urged our leaving Ireland with suc...",0.024516,-0.010185,0.001168,-0.005363,-0.013319,-0.003444,-0.002816,0.003240,...,-0.011837,0.036064,-0.016591,-0.025580,-0.018785,0.031289,-0.047220,0.021018,0.000595,0.978387
1,id24541,"If a fire wanted fanning, it could readily be ...",0.022294,-0.011968,-0.001596,-0.004478,-0.012514,-0.000641,-0.009725,-0.000215,...,-0.004397,-0.000020,-0.008583,0.006335,-0.004216,0.001810,0.001767,0.999985,0.000009,0.000006
2,id00134,And when they had broken down the frail door t...,0.016906,-0.008934,0.000240,-0.006892,-0.008843,0.004787,-0.005058,-0.004598,...,0.006063,-0.003324,-0.009452,0.013239,0.004852,-0.007478,0.002786,0.217325,0.782527,0.000148

In [39]:
df_test['cleaned_text'] = df_test.text.apply(tokenize_stem)
df_test['cleaned_text_string'] = df_test.cleaned_text.apply(' '.join)
df_test.head(n=3)

,id,text,svd_word_0,svd_word_1,svd_word_2,svd_word_3,svd_word_4,svd_word_5,svd_word_6,svd_word_7,...,svd_word_15,svd_word_16,svd_word_17,svd_word_18,svd_word_19,nb_cvec_eap,nb_cvec_hpl,nb_cvec_mws,cleaned_text,cleaned_text_string
0,id02310,"Still, as I urged our leaving Ireland with suc...",0.024516,-0.010185,0.001168,-0.005363,-0.013319,-0.003444,-0.002816,0.003240,...,-0.016591,-0.025580,-0.018785,0.031289,-0.047220,0.021018,0.000595,0.978387,"[still, i, urg, leav, ireland, inquietud, impa...",still i urg leav ireland inquietud impati fath...
1,id24541,"If a fire wanted fanning, it could readily be ...",0.022294,-0.011968,-0.001596,-0.004478,-0.012514,-0.000641,-0.009725,-0.000215,...,-0.008583,0.006335,-0.004216,0.001810,0.001767,0.999985,0.000009,0.000006,"[if, fire, want, fan, could, readili, fan, new...",if fire want fan could readili fan newspap gov...
2,id00134,And when they had broken down the frail door t...,0.016906,-0.008934,0.000240,-0.006892,-0.008843,0.004787,-0.005058,-0.004598,...,-0.009452,0.013239,0.004852,-0.007478,0.002786,0.217325,0.782527,0.000148,"[and, broken, frail, door, found, two, clean, ...",and broken frail door found two clean pick hum...

In [40]:
df_test['length']=df_test['cleaned_text_string'].apply(len)
df_test["num_words"] = df_test["text"].apply(lambda x: len(str(x).split()))
df_test["num_unique_words"] = df_test["text"].apply(lambda x: len(set(str(x).split())))
df_test["num_punctuations"] =df_test['text'].apply(lambda x: len([c for c in str(x) if c in string.punctuation]))
df_test["num_words_upper"] = df_test["text"].apply(lambda x: len([w for w in str(x).split() if w.isupper()]))
df_test["num_words_title"] = df_test["text"].apply(lambda x: len([w for w in str(x).split() if w.istitle()]))
df_test["mean_word_len"] = df_test["text"].apply(lambda x: np.mean([len(w) for w in str(x).split()]))
df_test["num_stopwords"] = df_test["text"].apply(lambda x: len([w for w in str(x).lower().split() if w in eng_stopwords]))
df_test.head(n=3)

,id,text,svd_word_0,svd_word_1,svd_word_2,svd_word_3,svd_word_4,svd_word_5,svd_word_6,svd_word_7,...,cleaned_text,cleaned_text_string,length,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords
0,id02310,"Still, as I urged our leaving Ireland with suc...",0.024516,-0.010185,0.001168,-0.005363,-0.013319,-0.003444,-0.002816,0.003240,...,"[still, i, urg, leav, ireland, inquietud, impa...",still i urg leav ireland inquietud impati fath...,67,19,19,3,1,3,4.842105,9
1,id24541,"If a fire wanted fanning, it could readily be ...",0.022294,-0.011968,-0.001596,-0.004478,-0.012514,-0.000641,-0.009725,-0.000215,...,"[if, fire, want, fan, could, readili, fan, new...",if fire want fan could readili fan newspap gov...,181,62,49,7,1,3,4.338710,33
2,id00134,And when they had broken down the frail door t...,0.016906,-0.008934,0.000240,-0.006892,-0.008843,0.004787,-0.005058,-0.004598,...,"[and, broken, frail, door, found, two, clean, ...",and broken frail door found two clean pick hum...,114,33,30,3,0,1,4.757576,15

In [41]:
df_test['mws_index']=df_test['cleaned_text'].apply(ind_val_mws)/df_test['length']
df_test['eap_index']=df_test['cleaned_text'].apply(ind_val_eap)/df_test['length']
df_test['hpl_index']=df_test['cleaned_text'].apply(ind_val_hpl)/df_test['length']
df_test.head(n=3)
df_test.head(n=3)

,id,text,svd_word_0,svd_word_1,svd_word_2,svd_word_3,svd_word_4,svd_word_5,svd_word_6,svd_word_7,...,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords,mws_index,eap_index,hpl_index
0,id02310,"Still, as I urged our leaving Ireland with suc...",0.024516,-0.010185,0.001168,-0.005363,-0.013319,-0.003444,-0.002816,0.003240,...,19,19,3,1,3,4.842105,9,0.071473,0.036315,0.026541
1,id24541,"If a fire wanted fanning, it could readily be ...",0.022294,-0.011968,-0.001596,-0.004478,-0.012514,-0.000641,-0.009725,-0.000215,...,62,49,7,1,3,4.338710,33,0.035932,0.062884,0.039306
2,id00134,And when they had broken down the frail door t...,0.016906,-0.008934,0.000240,-0.006892,-0.008843,0.004787,-0.005058,-0.004598,...,33,30,3,0,1,4.757576,15,0.027486,0.055142,0.057723

In [42]:
del df_test['cleaned_text']
del df_test['cleaned_text_string']

In [43]:
cols=(df_train.columns.tolist())[6:]
[item for item in df_train.columns.tolist() if item not in df_test.columns.tolist()]

['author2', 'author', 'cleaned_text', 'cleaned_text_string']

In [44]:
df_test.head()

,id,text,svd_word_0,svd_word_1,svd_word_2,svd_word_3,svd_word_4,svd_word_5,svd_word_6,svd_word_7,...,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords,mws_index,eap_index,hpl_index
0,id02310,"Still, as I urged our leaving Ireland with suc...",0.024516,-0.010185,0.001168,-0.005363,-0.013319,-0.003444,-0.002816,0.003240,...,19,19,3,1,3,4.842105,9,0.071473,0.036315,0.026541
1,id24541,"If a fire wanted fanning, it could readily be ...",0.022294,-0.011968,-0.001596,-0.004478,-0.012514,-0.000641,-0.009725,-0.000215,...,62,49,7,1,3,4.338710,33,0.035932,0.062884,0.039306
2,id00134,And when they had broken down the frail door t...,0.016906,-0.008934,0.000240,-0.006892,-0.008843,0.004787,-0.005058,-0.004598,...,33,30,3,0,1,4.757576,15,0.027486,0.055142,0.057723
3,id27757,While I was thinking how I should possibly man...,0.013408,-0.007515,-0.000154,-0.004020,-0.004521,0.002712,-0.004220,-0.002882,...,41,34,5,2,3,4.463415,19,0.024369,0.065057,0.055736
4,id04081,I am not sure to what limit his knowledge may ...,0.012565,-0.003185,-0.000719,-0.001152,0.000930,-0.006110,0.001690,-0.002149,...,11,11,1,1,1,3.909091,6,0.025615,0.070948,0.028437

In [49]:
ds_test=df_test[cols].values

,length,num_words,num_unique_words,num_punctuations,num_words_upper,num_words_title,mean_word_len,num_stopwords,mws_index,eap_index,...,svd_word_13,svd_word_14,svd_word_15,svd_word_16,svd_word_17,svd_word_18,svd_word_19,nb_cvec_eap,nb_cvec_hpl,nb_cvec_mws
0,67,19,19,3,1,3,4.842105,9,0.071473,0.036315,...,-0.011837,0.036064,-0.016591,-0.025580,-0.018785,0.031289,-0.047220,2.101817e-02,5.947015e-04,9.783871e-01
1,181,62,49,7,1,3,4.338710,33,0.035932,0.062884,...,-0.004397,-0.000020,-0.008583,0.006335,-0.004216,0.001810,0.001767,9.999853e-01,8.925621e-06,5.822058e-06
2,114,33,30,3,0,1,4.757576,15,0.027486,0.055142,...,0.006063,-0.003324,-0.009452,0.013239,0.004852,-0.007478,0.002786,2.173252e-01,7.825270e-01,1.477923e-04
3,124,41,34,5,2,3,4.463415,19,0.024369,0.065057,...,0.004783,-0.006865,-0.007960,0.006763,0.002540,-0.004558,-0.000728,7.535912e-01,2.464078e-01,1.067551e-06
4,32,11,11,1,1,1,3.909091,6,0.025615,0.070948,...,-0.001825,0.000123,-0.006504,0.002533,-0.004004,-0.002902,0.000315,9.709496e-01,2.182445e-02,7.225903e-03
5,122,32,28,8,0,3,5.343750,14,0.031787,0.058253,...,-0.001080,-0.005546,-0.005505,-0.001588,-0.000291,0.000240,-0.000189,9.305380e-01,6.897514e-02,4.869025e-04
6,32,13,11,2,0,1,4.307692,9,0.026596,0.062687,...,0.010832,-0.005349,-0.013915,-0.038165,0.011051,0.058084,-0.015136,6.581746e-01,3.115806e-01,3.024479e-02
7,84,30,23,3,5,5,4.200000,17,0.052639,0.036987,...,0.004515,0.065197,0.002960,-0.028084,-0.009015,-0.010479,0.027816,5.813017e-04,5.729142e-02,9.421273e-01
8,90,28,22,5,0,1,5.178571,14,0.019099,0.064194,...,0.010716,0.005200,0.014222,-0.024173,-0.034284,-0.045892,-0.038832,9.991619e-01,8.371526e-04,9.051063e-07
9,34,8,8,2,0,1,4.375000,2,0.038848,0.057184,...,0.003483,-0.007926,0.017838,-0.003067,-0.006143,0.001231,0.018030,8.102007e-01,7.223093e-02,1.175684e-01
10,155,43,39,7,0,1,5.000000,17,0.059396,0.048318,...,-0.003217,0.002199,-0.005202,0.009320,-0.001562,0.003986,0.005313,3.599123e-02,8.192387e-03,9.558164e-01
11,145,49,41,4,0,6,4.367347,28,0.025379,0.033596,...,0.016079,0.053924,0.002585,-0.012673,0.006953,0.010755,0.008934,4.260947e-08,1.000000e+00,8.923310e-10
12,125,33,29,5,1,3,4.818182,17,0.036384,0.050998,...,-0.000839,-0.002847,0.000793,-0.000042,0.001213,-0.006874,-0.000483,5.132080e-02,9.074040e-01,4.127525e-02
13,94,26,23,3,3,4,4.769231,12,0.028126,0.044790,...,-0.004379,0.001373,0.011819,0.019004,-0.002803,-0.016630,0.005577,1.225100e-04,9.998750e-01,2.469980e-06
14,41,14,13,1,0,2,4.214286,8,0.040944,0.043362,...,0.000528,-0.003494,-0.002936,0.004670,0.004993,-0.003545,0.000331,5.349264e-01,1.455977e-01,3.194758e-01
15,35,8,8,2,0,1,5.250000,3,0.064290,0.024582,...,-0.001204,0.084198,-0.005813,0.018427,-0.016330,-0.031223,-0.002931,1.748434e-04,4.178349e-05,9.997834e-01
16,45,19,18,2,1,1,4.315789,11,0.054968,0.037151,...,-0.019137,-0.014854,-0.026297,0.048930,0.004945,-0.003531,-0.008058,1.240376e-01,4.156046e-03,8.718063e-01
17,114,31,30,9,0,5,4.451613,13,0.015449,0.056309,...,0.076333,-0.006800,-0.017009,-0.004073,-0.002435,-0.003360,-0.002161,1.000000e+00,1.815501e-09,1.239879e-08
18,74,24,23,5,0,1,4.625000,11,0.052924,0.044288,...,0.011093,-0.005981,-0.000308,0.012965,0.005149,-0.017275,0.004462,2.085063e-01,2.338232e-01,5.576705e-01
19,84,23,22,2,1,2,4.652174,10,0.017112,0.043552,...,0.006726,-0.005815,-0.001437,0.008915,-0.002654,-0.013750,0.000493,5.378355e-02,9.427269e-01,3.489502e-03
20,54,16,16,1,0,1,4.625000,8,0.035683,0.060343,...,0.004236,-0.009689,-0.012490,0.001201,0.001301,-0.009407,-0.001391,9.752075e-01,1.386069e-02,1.093178e-02
21,116,28,26,5,0,1,5.821429,11,0.024516,0.063662,...,0.000353,-0.000315,-0.000862,-0.001578,-0.002276,-0.002291,0.000492,9.793792e-01,7.253988e-04,1.989536e-02
22,36,10,9,3,0,1,5.200000,4,0.049954,0.027694,...,-0.008380,-0.006971,0.004127,-0.050417,-0.049425,-0.053594,-0.082699,1.616729e-01,1.376114e-01,7.007156e-01
23,26,10,10,3,1,5,3.400000,7,0.009972,0.021368,...,0.001440,0.002470,0.001989,-0.000591,0.001790,0.000195,-0.000048,1.417106e-02,9.809016e-01,4.927291e-03
24,118,31,26,10,1,2,4.612903,13,0.055234,0.046781,...,-0.020663,0.012044,0.031034,0.039256,-0.025740,0.018333,0.007616,5.237101e-04,1.007268e-06,9.994753e-01
25,34,11,11,1,1,1,4.454545,6,0.042485,0.079167,...,0.001950,-0.002827,0.001184,-0.000433,0.001171,-0.001573,0.002033,7.370550e-01,4.644600e-02,2.164990e-01
26,65,24,23,3,0,1,4.583333,14,0.028206,0.032656,...,-0.017173,-0.004227,0.013285,-0.008411,0.009750,-0.004624,0.006927,6.670528e-01,3.297956e-01,3.151589e-03
27,43,18,15,2,0,1,3.722222,11,0.031200,0.054541,...,0.003358,-0.004508,-0.004772,0.005788,0.001873,-0.006048,0.000307,9.880925e-01,8.402625e-03,3.504828e-03
28,104,42,34,3,0,1,4.404762,26,0.049566,0.055425,...,-0.019568,-0.012442,-0.003836,-0.045620,0.024255,0.006841,0.000328,7.336428e-01,3.060571e-04,2.660512e-01
29,172,59,46,9,0,1,4.372881,29,0.054915,0.059797,...,0.034763,0.007615,0.018040,0.015247,-0.004747,0.024730,-0.010207,5.786408e-02,2.788597e-07,9.421356e-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8362,55,20,17,1,0,1,4.450000,13,0.072149,0.037286,...,-0.012353,0.008925,0.005378,0.000906,-0.001326,-0.008915,0.000567,4.684462e-03,3.405632e-04,9.949750e-01
8363,71,17,17,5,0,1,4.882353,6,0.033183,0.069850,...,0.015214,-0.054128,0.008405,-0.045513,-0.081851,0.038830,0.058901,9.785302e-01,1.208887e-03,2.026092e-02
8364,31,10,10,1,0,1,4.800000,6,0.060407,0.034402,...,0.001104,0.001025,-0.002199,-0.003125,-0.001482,-0.001050,-0.002590,1.065575e-02,5.364780e-02,9.356964e-01
8365,48,19,18,4,0,1,4.000000,11,0.036083,0.048815,...,-0.006768,0.012901,-0.019676,0.020940,-0.002039,0.000122,-0.004032,7.551546e-01,5.068923e-02,1.941562e-01
8366,148,43,35,5,3,4,4.744186,21,0.054403,0.047974,...,-0.024213,-0.008360,-0.008467,0.030293,0.001905,-0.007557,-0.004063,1.056451e-06,6.716720e-11,9.999989e-01
8367,123,35,29,5,1,5,4.742857,16,0.027560,0.039038,...,-0.007936,0.008199,-0.007471,0.012012,-0.008925,-0.007588,0.001364,9.303777e-01,7.695029e-04,6.885280e-02
8368,85,27,23,5,0,1,5.111111,15,0.057607,0.044014,...,-0.003644,-0.006346,0.009036,-0.007313,0.000318,-0.008847,-0.009743,2.020902e-03,2.894713e-04,9.976896e-01
8369,89,29,25,2,1,1,4.620690,15,0.065618,0.044309,...,-0.006775,0.001836,-0.001394,-0.002540,-0.004549,0.001316,0.010386,1.249646e-03,1.783788e-03,9.969666e-01
8370,117,36,30,3,0,1,5.472222,20,0.047387,0.046648,...,-0.007010,-0.002927,-0.004536,0.007003,-0.001094,-0.001666,-0.003655,5.548401e-01,1.492263e-05,4.451449e-01
8371,31,8,8,2,0,1,5.625000,3,0.035879,0.038877,...,0.000402,-0.001856,0.000042,0.001784,0.000581,0.000151,-0.000124,3.795656e-01,3.741693e-01,2.462652e-01
8372,28,10,10,1,0,1,4.800000,6,0.033428,0.069592,...,0.005035,-0.009127,-0.005830,-0.000887,-0.003673,-0.004555,-0.001143,9.114142e-01,2.701231e-02,6.157351e-02
8373,100,27,22,12,0,4,4.407407,5,0.026204,0.022785,...,-0.026016,-0.011889,-0.014914,0.032673,0.031060,0.050404,0.028454,4.800532e-12,1.000000e+00,1.453156e-10
8374,42,18,16,2,0,1,3.888889,12,0.038252,0.048424,...,-0.001184,-0.002385,-0.000617,-0.000512,0.004104,-0.001362,0.001446,6.395358e-01,3.479239e-01,1.254025e-02
8375,69,17,17,2,0,3,4.941176,7,0.054292,0.056245,...,-0.001012,-0.004703,-0.001054,-0.000270,-0.003174,-0.003801,-0.000480,3.628534e-02,1.002118e-05,9.637046e-01
8376,121,33,29,4,3,3,4.727273,16,0.037680,0.051058,...,-0.017916,-0.007274,0.004462,-0.037525,0.031126,-0.003212,0.010621,9.932364e-01,6.322259e-03,4.413532e-04
8377,118,43,38,5,1,4,3.790698,21,0.026826,0.033691,...,0.013279,0.052512,0.029134,-0.008229,-0.010603,-0.026011,0.005828,2.159929e-02,9.783935e-01,7.228160e-06
8378,50,14,14,1,1,2,5.142857,7,0.048285,0.053928,...,-0.001150,-0.001690,-0.001997,0.000310,-0.000605,-0.005167,-0.000380,5.247449e-02,2.802225e-01,6.673030e-01
8379,78,21,18,2,0,1,4.571429,9,0.026283,0.049779,...,-0.004432,-0.003661,-0.006500,0.013133,0.021588,0.012736,-0.020834,4.946373e-03,9.941729e-01,8.807543e-04
8380,79,29,26,4,2,3,4.620690,17,0.088252,0.038427,...,-0.028616,0.016872,0.052495,0.040730,-0.038461,0.029270,0.008720,1.156531e-06,5.071634e-09,9.999988e-01
8381,53,19,15,1,0,1,3.947368,11,0.022352,0.071809,...,0.000490,-0.002736,-0.002006,-0.001970,-0.002139,0.000940,0.000274,9.970460e-01,7.980705e-04,2.155912e-03
8382,38,8,8,2,1,1,5.250000,1,0.025809,0.051773,...,0.008660,0.009001,0.040377,0.023033,0.004225,-0.024904,0.008250,8.660047e-01,9.502016e-02,3.897519e-02
8383,164,40,33,2,0,3,5.275000,16,0.024747,0.037632,...,0.005485,-0.006050,0.001151,0.004357,0.003735,-0.002060,-0.002952,6.940567e-08,9.999999e-01,1.662775e-09
8384,58,20,20,1,0,3,4.400000,10,0.030391,0.046079,...,0.009860,0.000369,-0.000332,0.002108,-0.007330,0.005013,-0.001186,9.996919e-01,3.947977e-05,2.686602e-04
8385,221,70,55,11,1,5,5.000000,37,0.034407,0.048044,...,0.002340,-0.001989,-0.006030,0.004398,0.001246,-0.000699,0.000624,9.999977e-01,2.067961e-06,2.693898e-07
8386,105,33,28,3,0,2,4.575758,15,0.031861,0.047328,...,0.001579,-0.003128,-0.002506,0.001441,-0.002004,0.002730,0.000765,1.976685e-02,9.801632e-01,6.993046e-05
8387,17,9,9,1,0,1,3.777778,7,0.018301,0.033987,...,0.000610,-0.001496,0.001063,-0.001688,-0.005155,-0.003901,0.001965,5.659494e-01,1.060677e-01,3.279829e-01
8388,18,7,7,1,1,1,4.000000,4,0.058008,0.028277,...,-0.005626,-0.006015,-0.008673,0.005675,0.004995,-0.004539,-0.000283,3.159756e-02,3.344320e-02,9.349592e-01
8389,99,25,24,2,0,1,5.040000,11,0.042269,0.050968,...,-0.006167,0.000023,-0.012848,0.006857,-0.005566,0.006634,0.011775,9.997088e-01,1.204982e-04,1.706644e-04
8390,115,38,34,3,2,3,4.210526,21,0.057771,0.042396,...,-0.010635,-0.001895,-0.004086,-0.001623,-0.002973,-0.007277,0.004486,6.886929e-04,4.597496e-06,9.993067e-01
8391,134,38,33,5,0,1,5.526316,18,0.022330,0.038350,...,-0.003923,-0.006325,-0.006186,-0.007940,0.009861,0.017919,-0.013286,2.470536e-02,9.752867e-01,7.932790e-06

In [53]:
x_t=ds_test[:, :]
y_t=df_test['id'].values
xg_t=xgb.DMatrix(x_t)
pred_prob = bstp.predict(xg_t).reshape(y_t.shape[0], 3)
pred_label = np.argmax(pred_prob, axis=1)

In [55]:
print(pred_prob)

[[  1.89457480e-02   2.00906652e-03   9.79045212e-01]
 [  9.97643292e-01   1.61947298e-03   7.37223891e-04]
 [  1.10446438e-01   8.87890637e-01   1.66295422e-03]
 ...,
 [  9.61848855e-01   1.63717140e-02   2.17794720e-02]
 [  1.42889163e-02   1.98633247e-03   9.83724833e-01]
 [  6.57032570e-03   9.93166029e-01   2.63663038e-04]]

In [56]:
export=pd.DataFrame(pred_prob)
export.insert(loc=0, column='id', value=y_t)
export.columns=['id','EAP', 'HPL', 'MWS']
export.head()

        id       EAP       HPL       MWS
0  id02310  0.018946  0.002009  0.979045
1  id24541  0.997643  0.001619  0.000737
2  id00134  0.110446  0.887891  0.001663
3  id27757  0.882366  0.116390  0.001244
4  id04081  0.980214  0.012503  0.007283

In [57]:
len(export)

8392

In [58]:
export[export['id']=='id23301']

           id       EAP       HPL       MWS
6106  id23301  0.136131  0.267906  0.595963

In [59]:
export.to_csv(path_or_buf="../data/export.csv", index=False)